In [6]:
import pandas as pd
data = pd.read_csv('/Users/remir/Desktop/DATA-ANALYSYS_2-master/Dataset/nba_2013.csv', delimiter = ';')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 1 columns):
player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end    481 non-null object
dtypes: object(1)
memory usage: 3.9+ KB

In [7]:
import pandas as pd
data = pd.read_csv('/Users/remir/Desktop/DATA-ANALYSYS_2-master/Dataset/nba_2013.csv', delimiter = ';')
data.shape

(481, 1)

In [8]:
import pandas as pd
data = pd.read_csv('/Users/remir/Desktop/DATA-ANALYSYS_2-master/Dataset/nba_2013.csv', delimiter = ';')
data.columns

Index(['player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end'], dtype='object')

In [9]:
import pandas as pd
data = pd.read_csv('/Users/remir/Desktop/DATA-ANALYSYS_2-master/Dataset/nba_2013.csv', delimiter = ';')
data.isnull().any().any()

False

In [10]:
import pandas as pd
data = pd.read_csv('/Users/remir/Desktop/DATA-ANALYSYS_2-master/Dataset/nba_2013.csv', delimiter = ';')
data.describe()

       player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
count                                                 481
unique                                                481
top     Brandon Jennings,PG,24,DET,80,79,2728,423,1135...
freq                                                    1